
<div class="chat-header-container main-background-gradient">
    <div class="chat-header-controls page-width">
        <FluentButton IconStart="@(new Icons.Regular.Size24.Add())" @onclick=@OnNewChat>New chat</FluentButton>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback OnNewChat { get; set; }
}
